@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

/*html{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

body{
    /*background-color: white;*/
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    /*font-family: ;*/
    /*font-size: 85.5%;*/
}

#container_header{
    height: 25%;
}

.names{
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Berlin Sans FB";
    font-size: medium;
    font-style: italic;
}

.logo{
    text-align: center;
    justify-content: center;
    padding-top: 0%;
    opacity: 50;
    width: 35%;
    height: 17.5%;
}

/*#container_header_loggedin > header > #label{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*#container_header_loggedin > header > #label > #usernamep{*/
/*    height: auto;*/
/*    margin: 0vh 0vw 0vh 0vw;*/
/*    font-family: "Berlin Sans FB";*/
/*    font-size: medium;*/
/*    font-style: italic;*/
/*    color: white;*/
/*}*/

#Menu-container{
    /*margin: 0px;*/
    /*background-color: white;*/
    background-color: black;
    height: 5vh;
    padding-top: 0px;
    justify-content: space-between;
    /*display: block;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: whitesmoke;
    font-style: italic;
}

#Menu-container > #menu{
    /*margin: 0vw 20vw 0vw 20vw;*/
    /*padding-top: 10px;*/
    /*background-color: white;*/
    background-color: black;
    padding-top: 0px;
    height: 0px;
    display: block;
    /*line-height: 60px;*/
    /*font-size: 10em;*/
    /*font-weight: 700;*/
    text-align: center;
}

#Menu-container > #menu > li{
    height: 0px;
    display: inline-block;
    /* display: inline-block; */
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding-top: 0px;
    margin: 0 1vw 0 1vw;
}

h2 {
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Berlin Sans FB";
    font-size: 3vw;
    font-style: italic;
    color: white;
}

.btn{
    text-align: center;
    color: #f8e76e;
    font-weight: bold;
    background: none;
    border-radius: 1px;
    padding: 3px 15px;
    letter-spacing: 0.2em;
    transition: background-color 0.8s, box-shadow 0.2s, color 0.8s;
    font-style: revert;
    font-family: "Berlin Sans FB";
    height: 5vh;
    width: 15vw;
    font-size: 1.4vw;
}

.btn:hover{
    display: inline-block;
    transform: scale(1.3);
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid white;
    z-index: 9;
    width: 35vw;
    height: 45vh;
    background: black;
    padding-left: 2vw;
    /*padding-bottom: 60vh;*/
    /*padding-right: 30vw;*/
}

.form-container{
    padding-left: 1vw;
}

.close{
    color: white;
    float: right;
    font-size: 3vw;
    font-weight: bold;
    padding-right: 2vw;
}

.close:hover, .close:focus{
    cursor: pointer;
    transform: scale(1.3);
}

.form-container > input{
    width: 80%;
    height: 3vh;
    font-family: "Berlin Sans FB";
}

.form-container > textarea{
    width: 80%;
    height: 5vh;
    font-family: "Berlin Sans FB";
}

.form-container > h3{
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Berlin Sans FB";
    font-size: 1.5vw;
    padding-top: 2vh;
    padding-left: 2vw;
    color: white;
}

footer{
    justify-content: center;
    /*font-size: 20px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /*padding: 0;*/
    padding-top: 9vh;
    /*height: 10vh;*/
}

footer > h2{
    height: 3vh;
    margin: 0;
    padding-bottom: 3vh;
    font-size: medium;
    font-family: "Berlin Sans FB";
    font-style: italic;
    justify-content: center;
}

footer > .footerContact{
    flex-direction: row;
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
}

footer > .footerContact > .footerContactMail {
    width: 30vw;
    flex-direction: row;
    padding-left: 30vw;
    margin: 0;
}

footer > .footerContact > .footerContactSocialMedia {
    width: 30vw;
    flex-direction: row;
    margin: 0;
}

footer > .footerContact > .footerContactMail > .footerMailDiv{
    width: 20vw;
    height: 6vh;
    padding:0;
    margin: 0;

}

footer > .footerContact > .footerContactSocialMedia > .footerSocialMediaDiv{
    width: 20vw;
    height: 6vh;
    padding:0;
    margin: 0;

}

footer > .footerContact > .footerContactMail > .footerMailDiv > h3{
    font-size: 1vw;
    justify-content: center;
    display: inline-block;
    color: white;
    font-family: "Berlin Sans FB";
    margin: 0;
}

footer > .footerContact > .footerContactSocialMedia > .footerSocialMediaDiv > h3{
    font-size: 1vw;
    justify-content: center;
    display: inline-block;
    color: white;
    font-family: "Berlin Sans FB";
    margin: 0;
}

.inputRequest{
    font-size: 1.2vw;
    display: block;
    border:none;
    border-bottom: 2px solid white;
    background-color: inherit;
    outline: none;
    color: white;
    font-family: "Berlin Sans FB";
    height: 5vh;
    width: 25vw;
    padding-top: 4vh;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
}



#about > .modal-content > #about-header > h1{
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Berlin Sans FB";
    font-size: 4vw;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-bottom: 2vh;
    color: white;
    font-style: italic;
}

#about > .modal-content > div > h2{
    padding-left: 2vw;
    font-size: 2.5vw;
}

#about > .modal-content > div > ul > li > h2{
    padding-left: 2vw;
    font-size: 2.5vw;
}

#about > .modal-content > div > h3{
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Berlin Sans FB";
    font-size: 2vw;
    padding-top: 2vh;
    padding-left: 2vw;
    color: white;
}

#about > .modal-content > div > ol > li > h4{
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Berlin Sans FB";
    font-size: 1.3vw;
    padding-top: 2vh;
    padding-left: 2vw;
    color: white;
}

#about > .modal-content > div > ol > li{
    font-family: "Berlin Sans FB";
    font-size: 1.3vw;
}

