#play-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 0 10% 0;
    width: 90vw;
    height: 90vh;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
}

/*#play-section label,*/
/*#play-section h3 {*/
/*    font-size: 1.5vw;*/
/*}*/

/*#play-section div p {*/
/*    font-size: 1.5vw;*/
/*}*/

#row{
    float: left;
    width: 15vw;
    padding-left: 1vw;
}

#game{
    align-items: center;
}

#game > #canvas{
    /* float: left; */
    display: block;
    padding-left: 10vw;
    padding-right: 5vw;
}

#play-section > #row > #preferences-selected > h2{
    font-size: 2vw;
}

#play-section > #game-details > #game-details-form > .detailsSet{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

#play-section > #game-details > #game-details-form > .detailsSet > h3{
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Berlin Sans FB";
    font-size: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    color: white;
}

#play-section > #row > #preferences-selected > .preference-form > h3{
    height: auto;
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Berlin Sans FB";
    font-size: 1.5vw;
    /*padding-top: 1vh;*/
    /*padding-bottom: 1vh;*/
    padding-right: 1vw;
    color: white;
}

#play-section > .preference-form > .preference-key {
    padding-top: 1vh;
    align-items: center;
}

#play-section > #row > #preferences-selected > .preference-form > .preference-key > .keySet {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    justify-items: center;
    width: 12vw;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-wrap: nowrap;
}

.preference-key{
    flex-direction: column;
    align-items: center;
}

#play-section > #row > #preferences-selected > .preference-form > .preference-key > .keySet > .pref-btn-game {
    margin: 1px;
    font-size: 0.7vw;
    border-color: #f8e76e;
    border-style: solid;
    background: none;
    border-radius: 30px;
    width: 3vw;
    height: 1.5vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    cursor: pointer;
    font-family: "Berlin Sans FB";
    display: flex;
    font-style: italic;
    flex-direction: column;
    justify-content: space-around;
}

#play-section > #row > #preferences-selected > .preference-form > .rangeSet > .rangeW{
    padding-left: 1vw;
    padding-top: 3vh;
    height: 5vh;
}

#play-section > #game-details > #game-details-form > .detailsSet > input{
    height: auto;
    width: 7vw;
    margin: 0vh 0vw 0vh 0vw;
    font-size: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    background: none;
    border: none;
    font-family: "Berlin Sans FB";
    color: white;
}