#play-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 0 10% 0;
    width: 90vw;
    height: 90vh;
}

#play-section label,
#play-section h3 {
    font-size: 1.5vw;
}

#play-section div p {
    font-size: 1.5vw;
}

#row{
    float: left;
    width: 10vw;
    padding-left: 5vw;
}

#game{
    float: left;
    /*padding-left: 15vw;*/
    width: auto;
    height: auto;
    /*width: vw;*/
}

#game > #canvas{
    float: left;
}



/*width="700" height="620"*/

